body{
    background-color:rgba(39, 53, 73, 1);
    margin:250px ;
}


#Hero-white{
    color:white;
    font-weight: bold;
    font-size: 40px;
    font: karla;
    margin-bottom:0;
}

#Hero-green{
    margin-top:0px;
    color:#4ADF86;
    font-weight: bold;
    font-size: 40px;
    font: karla;
    margin-bottom: 0px;
}

#hero-description{
    line-height: 28px;
    font-size: 25px;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    color: #D5D4D8;
    margin-top:1px;
    font-weight: normal;

}

#main-function{
    background-color: #4ADF86;
    color: white;
    border-radius: 6px;
    padding-left:15px ;
    padding-right:17px ;
    padding-top: 9px;
    padding-bottom: 9px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-top: 15px;
    margin-bottom: 22px;
}

hr{
   background-color: #2F3E53;
    position:inherit;
    width: 1000px;
}

#rectangle-1{
    width: 211px;
    height:39px;
    background-color: #2F3E53;
    margin-top:30px;
    border-radius: 6px;
}
